.content-info{
    position: relative;
    right: 0;
    overflow: hidden;
    line-height: 25px;
    border-top: 45px solid #3d4a6e;
    /* padding-bottom: 57px; */
    padding-left: 60px;
    /* padding-left: 62px; */
    padding-top: 1%;
    height: 92%;
    display: table;
    width: 100%;

}
.content-div{
    height: 100%;
}
.content-icons{
    width: 60px;
    text-align: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /* display: table; */
    z-index: 1;
}
.content-icons .content-inner-div{
    display: table;
    width: 100%;
    height: 100%;

}
.content-icons ul{
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0px;
}
.content-icons ul li{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 5px;
    border-top: 1px solid rgba(52,65,107);
    border-color: rgba(55,64,93);
}
.content-icons ul li:last-child{
    border-bottom: 1px solid rgba(55,64,93);
}
.content-icons ul li a i{
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.content-icons ul li:hover{
    background-color: white;
}
.content-icons ul li a i:hover{
    color: #23527c;
}
.content-icons ul li:hover i{
    color: #23527c;
}


/* .target{
  
    
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
      
} */
/* .react-tooltip-lite-right-arrow {
    border-right: 10px solid #333;
    z-index: 1;
  }
  .react-tooltip-lite {
    background: #3d4a6e;
    color: white;
  }
  .customTip .react-tooltip-lite {
    border: 1px solid #888;
    border: 1px solid #888;
    background: #ccc;
    color: black;
  }
  .customTip .react-tooltip-lite-right-arrow {
    border-right: 10px solid #444;
  }
  
  .customTip .react-tooltip-lite-right-arrow::before {
    content: '';
    border-right: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -11px;
    top: -10px;
    width: 0;
    height: 0;
    z-index: 99;
    display: block;
  } */
/* .tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;

}
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top:50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;

}
.tooltip:hover .tooltiptext{
    visibility: visible;
} */
/* .tooltip.right .tooltip-inner {
    background-color:blue;
  }
.tooltip.right .tooltip-arrow {
          border-right-color: blue;
 } */

/* .content-info{
    position: relative;
    z-index: 1;
} */

.content-info .content-mob-menu{
    width: 100%;
    position: absolute;
    text-align: center;
    height: 60px;
    margin: 0 auto;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 10px;
}   
.content-info .content-mob-menu i{
    font-size: 25px;
    color: #3d4a6e;
}

/* responsive code */
 /* 992px */
 @media screen and (max-width:992px){
 .content-div{
    display: flex;
    }  
.content-info{
    padding-right: 3%;
    } 
}
/* 768px css  */
@media screen and (max-width:768px){
    .content-info{
        padding: 0 3%;
    }
    .content-info .content-mob-menu{
        z-index: 1;
    }
    .content-mob-menu .mob-icons-div{
        width: 94.5%;
        margin: 45px auto 0;
    }
    .mob-icons-div .mob-inner-div{
        background: rgba(52,65,107);
    }
    .mob-inner-div ul li i {
        color: white !important;
        padding-left: 40px;
    }
    
    .mob-inner-div ul li:hover i{
        color: #23527c !important;
    }
    .mob-inner-div ul li{
        border-top: 1px solid rgba(23, 29, 49, 0.1);
    }
    .mob-inner-div ul li:last-child{
        border-bottom: 1px solid rgba(23, 29, 49, 0.1);
    }
    .content-info .content-mob-menu i {
        font-size: 22px;
    }

}
/* 640px css */
@media screen and (max-width:640px){
    .mob-inner-div ul li i {
        
        padding-left: 30px;
    }
}
/* 480px css */
@media screen and (max-width:480px){
    .mob-inner-div ul li i {
        
        padding-left: 20px;
    }
}
/* 350px css */
@media screen and (max-width:350px){
    .mob-inner-div ul li i {
        
        padding-left: 16px;
    }
}